<!-- <mat-toolbar color="primary"> -->
    <!-- <div class="col">
          <h3>Title</h3>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
          <div>Lorem ipsum dolor sit amet.</div>
          <div>Line 3</div>
        </div>
        <div class="col">
          <h3>Title</h3>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
          <div>Lorem ipsum dolor sit amet.</div>
          <div>Line 3</div>
        </div>
        <div class="col">
          <h3>Title</h3>
          <div>Line 2</div>
          <div>Line 3</div>
        </div>
        <div class="col">
          <h3>Title</h3>
          <div>Line 2</div>
        </div>
      
      <section class="section-bottom">
        <div>Follow</div>
        <div>Copy right</div>
      </section> -->
      <!-- <mat-grid-list cols="4">
        ------
      </mat-grid-list>  -->
    <!-- </mat-toolbar> -->

    <!-- <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
          {{tile.text}}
        </mat-grid-tile>
      </mat-grid-list> -->

      <!-- <mat-toolbar color="primary" style="min-height:130px">
        <mat-list role="list">
            <mat-list-item role="listitem"  style="color:#fff">Item 1</mat-list-item>
            <mat-list-item role="listitem" style="color:#fff">Item 2</mat-list-item>
            <mat-list-item role="listitem" style="color:#fff">Item 3</mat-list-item>
          </mat-list>
          <mat-list>
            <mat-list-item style="color:#fff">
              <span matListItemTitle>Pepper</span>
              <span matListItemLine>Produced by a plant</span>
            </mat-list-item>
            <mat-list-item style="color:#fff">
              <span matListItemTitle>Salt</span>
              <span matListItemLine>Extracted from sea water</span>
            </mat-list-item>
            <mat-list-item style="color:#fff">
              <span matListItemTitle>Paprika</span>
              <span matListItemLine>Produced by dried and ground red peppers</span>
            </mat-list-item>
          </mat-list>
          
      </mat-toolbar>   -->
      <mat-toolbar color="primary" style="min-height:130px">
      <!-- <div _ngcontent-ng-c1753410914="" class="docs-footer-logo">
        <div _ngcontent-ng-c1753410914="" class="footer-logo">
            <img _ngcontent-ng-c1753410914="" src="../../../assets/img/homepage/angular-white-transparent.svg" alt="Angular icon" class="docs-footer-angular-logo">
            <span _ngcontent-ng-c1753410914=""><a _ngcontent-ng-c1753410914="" href="https://angular.io">Learn Angular</a></span>
        </div></div><div _ngcontent-ng-c1753410914="" class="docs-footer-version">
            <img _ngcontent-ng-c1753410914="" src="../../../assets/img/angular-material-logo.svg" alt="Angular Material icon" class="angular-material-logo">
            <span _ngcontent-ng-c1753410914="" class="version">Current Version: 16.1.2+sha-4195289</span></div>
            <div _ngcontent-ng-c1753410914="" class="docs-footer-copyright"><div _ngcontent-ng-c1753410914="">
                <span _ngcontent-ng-c1753410914="">Powered by Google LLC ©2010-2023.</span>
                <a _ngcontent-ng-c1753410914="" href="https://github.com/angular/components/blob/main/LICENSE">Code licensed under an MIT-style License.</a>
                <span _ngcontent-ng-c1753410914="">Documentation licensed under CC BY 4.0.</span></div></div> -->
            </mat-toolbar>